body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: 	white;
color: #333;
margin: 0;
padding: 20px;
}

.titulo {
color: 	blak;
}
.titulo-add{
text-align: center;
margin-bottom: 10px;
}
.voltar {
text-decoration: none;
color:white ;
margin-right: 10px;
background-color:green;
box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
border-radius:7px;
}
.add-livro{
text-decoration: none;
color: white;
margin-right: 10px;
background-color:green;
box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
border-radius:7px;
left-position:0px;

}
a {
text-decoration: none;
color: green;
margin-right: 10px;

}

table {
width: 80%;
border-collapse: collapse;
margin-top: 20px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
margin:auto;
}

th, td {
padding: 12px;
text-align: left;
border-bottom: 1px solid #ddd;
}

th {
background-color: #4B0082;
color: white;
}

button, input[type="submit"] {
background-color: grey	;
color: white;
border: none;
padding: 8px 12px;
cursor: pointer;
border-radius: 4px;
margin-top: 10px;
}

button:hover, input[type="submit"]:hover {
background-color:grey ;
}

input[type="text"] {
padding: 8px;
margin: 5px 0;
width: 300px;
border: 1px solid #ccc;
border-radius: 4px;
}

.container {
max-width: 800px;
margin: auto;
background-color: white;
padding: 30px;
border-radius: 8px;
box-shadow: 0 0 15px rgba(1,1,1,1);
}

.multa {
color: red;
font-weight: bold;
}